.why_content_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
  gap: 2rem;
    padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
 padding-bottom: 2rem;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
  gap: 2rem;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
  gap: 2rem;
}
//extra large
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
  gap: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
   padding-top: 4rem;
 padding-bottom: 4rem;
}

.why_content_header {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: var(--text-header);
font-size: 2rem;
text-align: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: var(--text-header);
font-size: 2rem;
text-align: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: var(--text-header);
font-size: 2rem;
text-align: center;
}
//extra large
font-family: var(--text-header);
font-size: 2.5rem;
text-align: center;
margin-bottom: 2rem;
}

.why_content_paragraph_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 2rem;
}
//extra large
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 2rem;
}

.why_paragraph_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large

}

.why_paragraph_header {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: var(--text-header);
font-weight: bold;
font-size: 1.2rem;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: var(--text-header);
font-weight: bold;
font-size: 1.2rem;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: var(--text-header);
font-weight: bold;
font-size: 1.2rem;
}
//extra large
font-family: var(--text-header);
font-weight: bold;
font-size: 1.2rem;
}

.why_paragraph {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: var(--text-paragraph);
font-size: 1rem;
line-height: 2rem;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: var(--text-paragraph);
font-size: 1rem;
line-height: 2rem;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: var(--text-paragraph);
font-size: 1rem;
line-height: 2rem;
}
//extra large
font-family: var(--text-paragraph);
font-size: 1rem;
line-height: 2rem;
}