.gallery_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 4rem;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 4rem;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 4rem;
}
//extra large
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 4rem;
background-color: #fff;
color: #000;
}

.gallery_header {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: var(--text-header);
text-align: center;
font-size: 2rem;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: var(--text-header);
text-align: center;
font-size: 2.5rem;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: var(--text-header);
text-align: center;
font-size: 2.5rem;
}
//extra large
font-family: var(--text-header);
text-align: center;
font-size: 3.5rem;
}


.cards {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}