@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* LIGHT MODE Variables */
:root{
  --color-bg: #000;
  --color-text:  #fff;
  --color-icon:  #000;
  --text-header: 'Playfair Display', serif;
  --text-paragraph: 'Quattrocento', serif;
  --color-footer-bg: #000;
  --color-footer-text: #fff;
;
}
  
  /* ========= Dark Theme Variable ========== */
[data-theme = "dark"]{
  --color-bg: #000;
  --color-text: #fff;
  --color-icon:  #000;
  --text-header: 'Playfair Display', serif;
  --text-paragraph: 'Quattrocento', serif;
  --color-footer-bg: #000;
  --color-footer-text: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.app{
  background: var(--color-bg);
   color: var( --color-text);
     cursor: pointer;
}

html, body, .app{
  max-width: 100vw;
  overflow-x: hidden;
}


@media only screen and (min-width: 280px) and (max-width: 1080px){
  html, 
  body,
  .app{
    max-width: 100vw;
    overflow-x: hidden;
  }
  .app::webkit-scrollbar{
    display: none;
  }
}

